<h1>Listing mhashes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Hash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mhashes.each do |mhash| %>
  <tr>
    <td><%= mhash.user_id %></td>
    <td><%= mhash.hash %></td>
    <td><%= link_to 'Show', mhash %></td>
    <td><%= link_to 'Edit', edit_mhash_path(mhash) %></td>
    <td><%= link_to 'Destroy', mhash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mhash', new_mhash_path %>
