<h1>Listing mhashes for <%= current_user.email %></h1>

<table>
  <tr>
    <th>Hash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mhashes.each do |mh| %>
  <tr>
    <td><%= mh.data %></td>
    <td><%= mh.created_at %></td>
    <td><%= link_to 'Destroy', mh, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mhash', new_mhash_path %>
